@{
    var isArabic = System.Threading.Thread.CurrentThread.CurrentCulture.Name.StartsWith("ar");
}
@if (isArabic)
{
    <option value="">اختر السورة</option>
    <option value="0">١. الفاتحة</option>
    <option value="1">٢. البقرة</option>
    <option value="2">٣. آل عمران</option>
    <option value="3">٤. النساء</option>
    <option value="4">٥. المائدة</option>
    <option value="5">٦. الأنعام</option>
    <option value="6">٧. الأعراف</option>
    <option value="7">٨. الأنفال</option>
    <option value="8">٩. التوبة</option>
    <option value="9">١٠. يونس</option>
    <option value="10">١١. هود</option>
    <option value="11">١٢. يوسف</option>
    <option value="12">١٣. الرعد</option>
    <option value="13">١٤. إبراهيم</option>
    <option value="14">١٥. الحجر</option>
    <option value="15">١٦. النحل</option>
    <option value="16">١٧. الإسراء</option>
    <option value="17">١٨. الكهف</option>
    <option value="18">١٩. مريم</option>
    <option value="19">٢٠. طه</option>
    <option value="20">٢١. الأنبياء</option>
    <option value="21">٢٢. الحج</option>
    <option value="22">٢٣. المؤمنون</option>
    <option value="23">٢٤. النور</option>
    <option value="24">٢٥. الفرقان</option>
    <option value="25">٢٦. الشعراء</option>
    <option value="26">٢٧. النمل</option>
    <option value="27">٢٨. القصص</option>
    <option value="28">٢٩. العنكبوت</option>
    <option value="29">٣٠. الروم</option>
    <option value="30">٣١. لقمان</option>
    <option value="31">٣٢. السجدة</option>
    <option value="32">٣٣. الأحزاب</option>
    <option value="33">٣٤. سبأ</option>
    <option value="34">٣٥. فاطر</option>
    <option value="35">٣٦. يس</option>
    <option value="36">٣٧. الصافات</option>
    <option value="37">٣٨. ص</option>
    <option value="38">٣٩. الزمر</option>
    <option value="39">٤٠. غافر</option>
    <option value="40">٤١. فصلت</option>
    <option value="41">٤٢. الشورى</option>
    <option value="42">٤٣. الزخرف</option>
    <option value="43">٤٤. الدخان</option>
    <option value="44">٤٥. الجاثية</option>
    <option value="45">٤٦. الأحقاف</option>
    <option value="46">٤٧. محمد</option>
    <option value="47">٤٨. الفتح</option>
    <option value="48">٤٩. الحجرات</option>
    <option value="49">٥٠. ق</option>
    <option value="50">٥١. الذاريات</option>
    <option value="51">٥٢. الطور</option>
    <option value="52">٥٣. النجم</option>
    <option value="53">٥٤. القمر</option>
    <option value="54">٥٥. الرحمن</option>
    <option value="55">٥٦. الواقعة</option>
    <option value="56">٥٧. الحديد</option>
    <option value="57">٥٨. المجادلة</option>
    <option value="58">٥٩. الحشر</option>
    <option value="59">٦٠. الممتحنة</option>
    <option value="60">٦١. الصف</option>
    <option value="61">٦٢. الجمعة</option>
    <option value="62">٦٣. المنافقون</option>
    <option value="63">٦٤. التغابن</option>
    <option value="64">٦٥. الطلاق</option>
    <option value="65">٦٦. التحريم</option>
    <option value="66">٦٧. الملك</option>
    <option value="67">٦٨. القلم</option>
    <option value="68">٦٩. الحاقة</option>
    <option value="69">٧٠. المعارج</option>
    <option value="70">٧١. نوح</option>
    <option value="71">٧٢. الجن</option>
    <option value="72">٧٣. المزمل</option>
    <option value="73">٧٤. المدثر</option>
    <option value="74">٧٥. القيامة</option>
    <option value="75">٧٦. الإنسان</option>
    <option value="76">٧٧. المرسلات</option>
    <option value="77">٧٨. النبأ</option>
    <option value="78">٧٩. النازعات</option>
    <option value="79">٨٠. عبس</option>
    <option value="80">٨١. التكوير</option>
    <option value="81">٨٢. الانفطار</option>
    <option value="82">٨٣. المطففين</option>
    <option value="83">٨٤. الانشقاق</option>
    <option value="84">٨٥. البروج</option>
    <option value="85">٨٦. الطارق</option>
    <option value="86">٨٧. الأعلى</option>
    <option value="87">٨٨. الغاشية</option>
    <option value="88">٨٩. الفجر</option>
    <option value="89">٩٠. البلد</option>
    <option value="90">٩١. الشمس</option>
    <option value="91">٩٢. الليل</option>
    <option value="92">٩٣. الضحى</option>
    <option value="93">٩٤. الشرح</option>
    <option value="94">٩٥. التين</option>
    <option value="95">٩٦. العلق</option>
    <option value="96">٩٧. القدر</option>
    <option value="97">٩٨. البينة</option>
    <option value="98">٩٩. الزلزلة</option>
    <option value="99">١٠٠. العاديات</option>
    <option value="100">١٠١. القارعة</option>
    <option value="101">١٠٢. التكاثر</option>
    <option value="102">١٠٣. العصر</option>
    <option value="103">١٠٤. الهمزة</option>
    <option value="104">١٠٥. الفيل</option>
    <option value="105">١٠٦. قريش</option>
    <option value="106">١٠٧. الماعون</option>
    <option value="107">١٠٨. الكوثر</option>
    <option value="108">١٠٩. الكافرون</option>
    <option value="109">١١٠. النصر</option>
    <option value="110">١١١. المسد</option>
    <option value="111">١١٢. الإخلاص</option>
    <option value="112">١١٣. الفلق</option>
    <option value="113">١١٤. الناس</option>
}
else
{
    <option value="">Select Surah</option>
    <option value="0">1. Al-Fatiha</option>
    <option value="1">2. Al-Baqarah</option>
    <option value="2">3. Al-Imran</option>
    <option value="3">4. An-Nisa</option>
    <option value="4">5. Al-Ma'idah</option>
    <option value="5">6. Al-An'am</option>
    <option value="6">7. Al-A'raf</option>
    <option value="7">8. Al-Anfal</option>
    <option value="8">9. At-Tawbah</option>
    <option value="9">10. Yunus</option>
    <option value="10">11. Hud</option>
    <option value="11">12. Yusuf</option>
    <option value="12">13. Ar-Ra'd</option>
    <option value="13">14. Ibrahim</option>
    <option value="14">15. Al-Hijr</option>
    <option value="15">16. An-Nahl</option>
    <option value="16">17. Al-Isra</option>
    <option value="17">18. Al-Kahf</option>
    <option value="18">19. Maryam</option>
    <option value="19">20. Ta-Ha</option>
    <option value="20">21. Al-Anbiya</option>
    <option value="21">22. Al-Hajj</option>
    <option value="22">23. Al-Mu'minun</option>
    <option value="23">24. An-Nur</option>
    <option value="24">25. Al-Furqan</option>
    <option value="25">26. Ash-Shu'ara</option>
    <option value="26">27. An-Naml</option>
    <option value="27">28. Al-Qasas</option>
    <option value="28">29. Al-Ankabut</option>
    <option value="29">30. Ar-Rum</option>
    <option value="30">31. Luqman</option>
    <option value="31">32. As-Sajdah</option>
    <option value="32">33. Al-Ahzab</option>
    <option value="33">34. Saba</option>
    <option value="34">35. Fatir</option>
    <option value="35">36. Ya-Sin</option>
    <option value="36">37. As-Saffat</option>
    <option value="37">38. Sad</option>
    <option value="38">39. Az-Zumar</option>
    <option value="39">40. Ghafir</option>
    <option value="40">41. Fussilat</option>
    <option value="41">42. Ash-Shura</option>
    <option value="42">43. Az-Zukhruf</option>
    <option value="43">44. Ad-Dukhan</option>
    <option value="44">45. Al-Jathiyah</option>
    <option value="45">46. Al-Ahqaf</option>
    <option value="46">47. Muhammad</option>
    <option value="47">48. Al-Fath</option>
    <option value="48">49. Al-Hujurat</option>
    <option value="49">50. Qaf</option>
    <option value="50">51. Adh-Dhariyat</option>
    <option value="51">52. At-Tur</option>
    <option value="52">53. An-Najm</option>
    <option value="53">54. Al-Qamar</option>
    <option value="54">55. Ar-Rahman</option>
    <option value="55">56. Al-Waqi'ah</option>
    <option value="56">57. Al-Hadid</option>
    <option value="57">58. Al-Mujadilah</option>
    <option value="58">59. Al-Hashr</option>
    <option value="59">60. Al-Mumtahanah</option>
    <option value="60">61. As-Saf</option>
    <option value="61">62. Al-Jumu'ah</option>
    <option value="62">63. Al-Munafiqun</option>
    <option value="63">64. At-Taghabun</option>
    <option value="64">65. At-Talaq</option>
    <option value="65">66. At-Tahrim</option>
    <option value="66">67. Al-Mulk</option>
    <option value="67">68. Al-Qalam</option>
    <option value="68">69. Al-Haqqah</option>
    <option value="69">70. Al-Ma'arij</option>
    <option value="70">71. Nuh</option>
    <option value="71">72. Al-Jinn</option>
    <option value="72">73. Al-Muzzammil</option>
    <option value="73">74. Al-Muddaththir</option>
    <option value="74">75. Al-Qiyamah</option>
    <option value="75">76. Al-Insan</option>
    <option value="76">77. Al-Mursalat</option>
    <option value="77">78. An-Naba</option>
    <option value="78">79. An-Nazi'at</option>
    <option value="79">80. Abasa</option>
    <option value="80">81. At-Takwir</option>
    <option value="81">82. Al-Infitar</option>
    <option value="82">83. Al-Mutaffifin</option>
    <option value="83">84. Al-Inshiqaq</option>
    <option value="84">85. Al-Buruj</option>
    <option value="85">86. At-Tariq</option>
    <option value="86">87. Al-A'la</option>
    <option value="87">88. Al-Ghashiyah</option>
    <option value="88">89. Al-Fajr</option>
    <option value="89">90. Al-Balad</option>
    <option value="90">91. Ash-Shams</option>
    <option value="91">92. Al-Layl</option>
    <option value="92">93. Ad-Duhaa</option>
    <option value="93">94. Ash-Sharh</option>
    <option value="94">95. At-Tin</option>
    <option value="95">96. Al-Alaq</option>
    <option value="96">97. Al-Qadr</option>
    <option value="97">98. Al-Bayyinah</option>
    <option value="98">99. Az-Zalzalah</option>
    <option value="99">100. Al-Adiyat</option>
    <option value="100">101. Al-Qari'ah</option>
    <option value="101">102. At-Takathur</option>
    <option value="102">103. Al-Asr</option>
    <option value="103">104. Al-Humazah</option>
    <option value="104">105. Al-Fil</option>
    <option value="105">106. Quraysh</option>
    <option value="106">107. Al-Ma'un</option>
    <option value="107">108. Al-Kawthar</option>
    <option value="108">109. Al-Kafirun</option>
    <option value="109">110. An-Nasr</option>
    <option value="110">111. Al-Masad</option>
    <option value="111">112. Al-Ikhlas</option>
    <option value="112">113. Al-Falaq</option>
    <option value="113">114. An-Nas</option>
}